<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".base.application.MentoringApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mentoring"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.ronda.RondaActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".view.ronda.RondaListActivity"
            android:exported="false" />
        <activity
            android:name=".view.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Mentoring.NoActionBar">
        </activity>
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Mentoring.NoActionBar" />
        <activity
            android:name=".view.mentorship.ListMentorshipActivity"
            android:exported="false" />
        <activity
            android:name=".view.mentorship.MentorshipActivity"
            android:exported="true" />
        <activity
            android:name=".view.tutored.TutoredActivity"
            android:exported="false" />
        <activity
            android:name=".view.career.CareerActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Mentoring.NoActionBar" />
    </application>

</manifest>